<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>Re:VIEW Format Guide</title>
<link rel="stylesheet" href="github-markdown.css">
<style>
    .markdown-body {
        min-width: 200px;
        max-width: 790px;
        margin: 0 auto;
        padding: 30px;
    }
</style>
</head>
<body>
<article class="markdown-body">
    <%= html_body %>
</article>
</body>
</html>
